body {
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
a{
    text-decoration: none;
}
ul, ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
display: flex;
align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
}
  .title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
  }

  .menu-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
  }

  .menu-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
  }

/* =================HEADER================= */
.logo-part-header{
    color: #2e2f42;
}

.logo{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    
    margin-right: 76px;
}

.nav-list {
    display: flex;
    gap: 40px;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
    margin-left: auto;
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-link{   
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus{
    color: #404bbf;
}
/* =================HERO================= */
.hero {
background: #2e2f42;
padding-top: 188px;
padding-bottom: 188px;
}

.hero-container {
    align-items: center;
  
 
}

.hero-title {
font-family: "Roboto", sans-serif;    
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
margin: 0 auto 48px;
}

.hero-ord-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4d5ae5;
display: block;
margin: 0 auto;
border-radius: 4px;
padding: 16px 32px;
gap: 10px;
border: none;
min-width: 169px;
cursor: pointer;
}

.hero-ord-btn:hover,
.hero-ord-btn:focus {
    background: #404bbf;
    }

/* =================ADVANTAGES================= */
.advantages {
    padding: 120px 0;
}
.advantages-container {
    align-items: center;
}
.advantages-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.advantages-menu-list {
    display: flex;
    gap: 24px;
    list-style: none;
}

.advantages-menu-item {
    flex-basis: calc((100% - 72px) / 4);
}

.advantages-menu-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px; 
}

.advantages-menu-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: left;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/* =================TEAM================= */

.team {
background: #f4f4fd;
padding-top: 120px;
padding-bottom: 120px;
}
.team-container {
    align-items: center;
}
.team-title {
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 72px;
}
.team-menu-list {
    display: flex;
    gap: 24px;
}

.team-menu-item {
    background: #ffffff;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
    
}

.team-image {

}
.team-item {
    padding-top: 32px;
    padding-bottom: 32px;
}



.team-menu-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
margin-bottom: 8px;
}

.team-menu-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;

}

/* =================PORTFOLIO================= */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-container {
    align-items: center;
}
.portfolio-title {
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.portfolio-menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    background: 
    #ffffff;
}

.portfolio-menu-item {  
    width: calc((100% - 48px) / 3);
}

.container-item
{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-images {
    

}

.portfolio-menu-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px
}

.portfolio-menu-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* =================FOOTER================= */

.footer {
    padding-top: 100px ;
    padding-bottom: 100px;
background: #2e2f42;

}

.container-footer {
  
}
.logo-part-footer{    
color: #f4f4fd;
}

.logo 
{font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    padding-bottom: 16px;
}

.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}
